doctype html 
html
    head 
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title Dashboard 

        link(href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" rel="stylesheet")
        link(href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css" rel="stylesheet")

        script(src="https://code.jquery.com/jquery-3.5.1.min.js")
        script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous")
        script(src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js")
        script(src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js")

        link(href="stylesheets/dashboard.css" rel="stylesheet")
        script(src="scripts/dashboard.js")


    body 
        nav(class="navbar navbar-expand-lg navbar-light bg-light" id="nav-bar")
            div(class="container-fluid")
                a(class="navbar-brand" href="/dashboard") CPM
                button(class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                    span(class="navbar-toggler-icon")
                div(class="collapse navbar-collapse" id="navbarSupportedContent")
                    ul(class="navbar-nav me-auto")
                        li(class="nav-item")
                            a(class="nav-link active" aria-current="page" href="/dashboard") Home
                        li(class="nav-item")
                            a(class="nav-link" href="#") About
                            
                    div(class="navbar-nav")
                        div(class="nav-item dropdown" id="account-actions-dropdown")
                            a(class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false") #{userInfo.first_name} #{userInfo.last_name}
                            ul(class="dropdown-menu dropdown-menu-lg-end")
                                li 
                                    a(class="dropdown-item" href="/userProfile") Settings
                                li 
                                    hr(class="dropdown-divider")
                                li
                                    a(class="dropdown-item" href="/") Log out
                
        
        div(class="container" id="data-table")
            table(id="example" class="table table-stripped" style="width:100%")
                thead
                    tr
                        th Name
                        th Position
                        th Office
                        th Age
                        th Start date
                        th Salary
                tbody
                    tr
                        td Tiger Nixon
                        td System Architect
                        td Edinburgh
                        td 61
                        td 2011/04/25
                        td $320,800
                    tr
                        td Garrett Winters
                        td Accountant
                        td Tokyo
                        td 63
                        td 2011/07/25
                        td $170,750
                    tr
                        td Ashton Cox
                        td Junior Technical Author
                        td San Francisco
                        td 66
                        td 2009/01/12
                        td $86,000
                    tr
                        td Cedric Kelly
                        td Senior Javascript Developer
                        td Edinburgh
                        td 22
                        td 2012/03/29
                        td $433,060
                    tr
                        td Airi Satou
                        td Accountant
                        td Tokyo
                        td 33
                        td 2008/11/28
                        td $162,700
                    tr
                        td Brielle Williamson
                        td Integration Specialist
                        td New York
                        td 61
                        td 2012/12/02
                        td $372,000
                    tr
                        td Herrod Chandler
                        td Sales Assistant
                        td San Francisco
                        td 59
                        td 2012/08/06
                        td $137,500
                tfoot
                    tr
                        th Name
                        th Position
                        th Office
                        th Age
                        th Start date
                        th Salary