doctype html
html
  head
    title= title
    link(rel="stylesheet", id="bootstrap-css", href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    link(rel='stylesheet', href='/stylesheets/login.css')
    script(src="/scripts/login.js")

  body
    block content
      div(class="wrapper fadeInDown")
        div(id="formContent")
        
          div(class="fadeIn first")            
            form(method="post")
              input(type="text", id="email", class="fadeIn second", name="login", placeholder="email")
              input(type="text", id="password", class="fadeIn third", name="login", placeholder="password")
              input(type="submit", class="fadeIn fourth", value="Log In")

            div(class="text-center p-t-115")
              <span class="txt1">
              | Dont have an account?
              </span>

              <a class="txt2" href="/createAccount">
              | Sign Up
              </a>
            </div>
            div(id="formFooter")
              a(class="underlineHover", href="signup") Don't have an account? Sign up!

                

