doctype html
html
  head
    title= title
    link(rel="stylesheet", id="bootstrap-css", href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    link(rel='stylesheet', href='/stylesheets/login.css')
    script(src="/scripts/login.js")

  body
    block content
      div(class="wrapper fadeInDown")
        div(id="formContent")
        
          div(class="fadeIn first")
            img(src="http://www.newdesignfile.com/postpic/2014/02/windows-8-user-account-icon_325746.png", id="icon", alt="User Icon")
            <br>
            <span class="welcometxt">
            | <b>Hello!</b><br>Please log in.
            </span>

            form(method="post", action="/loginSubmit")
              input(type="text", id="email", class="fadeIn second", name="email", placeholder="Email")
              input(type="password", id="password", class="fadeIn third", name="password", placeholder="Password")
              input(type="submit", class="fadeIn fourth", value="Log In")
              
            div(id="formFooter")
              <span class="txt1">
              | Dont have an account?
              </span>

              <a class="txt2" href="/signup">
              | Sign Up
              </a>

                

